@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');


/* Global Styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Calibri, sans-serif;
    background-color: #2B2B2B;
}

h1 {
    font-family: Ruthie, cursive;
    font-size: 600%;
    color: #FE233F;
    text-shadow: 6px 8px #111;
    line-height: 130px;
}

h2 {
    padding-bottom: 25px;
    font-size: 180%;
    color: #DDD;
    text-transform: uppercase;
}

p {
    padding-bottom: 10px;
    font-size: 120%;
    color: #DDD;
    line-height: 28px;
    text-align: justify;
}

a {
    text-decoration: none;
    font-size: 150%;
    color: inherit;
}

ul {
    list-style-type: none;
}

.card {
    clear: both;
    position: absolute;
    padding: 70px 70px 70px 70px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 75%);
}


/* Header */

#header {
    display: block;
}

#mw-logo {
    float: left;
    width: 118px;
    height: 118px;
    padding: 12px 0px 12px 20px;
}

#mw-title {
    display: block;
    text-align: center;
    padding-right: 118px;
}

#navbar {
    clear: both;
    display: block;
    width: 100%;
    height: 90px;
    background-color: #FE233F;
    line-height: 65px;
    text-align: center;
    box-sizing: border-box;
}

#navbar li {
    display: inline-block;
    margin-top: 4px;
    text-transform: uppercase;
    padding: 11px 30px;
}

#navbar li:hover {
    background-color: #d31a33;
    /* color: #FFF; */
}

.active {
    background-color: #d31a33;
}


/* Page 1 */

#welcome {
    width: 100%;
    height: 900px;
    background: url(../images/book.jpg) center center / cover no-repeat;
    filter: blur(1px);
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#welcome-edge {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.06);
    }
}

#welcome-card {
    right: 17vw;
    top: 150px;
    width: 475px;
    height: 515px;
}


/* Page 2 - About the Author */

#profile {
    width: 100%;
    height: 115vh;
    background: url(../images/author.jpg) top center / cover no-repeat;
    filter: blur(1.5px);
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#profile-edge {
    width: 100%;
    height: 115vh;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.06);
    }
}

#profile-card {
    left: 10vw;
    top: 9vw;
    width: 27vw;
    height: 31vw;
}

#about {
    height: 2060px;
}

.about-panel {
    width: 1300px;
    height: fit-content;
}

.about-panel ul {
    padding: 0px 0px 10px 18px;
    list-style-type: square;
    font-size: 110%;
    color: #DDD;
    line-height: 28px;
}

.about-panel li {
    display: inline;
    padding-left: 60px;
}

#history {
    left: 6vw;
    top: 1370px;
}

#genre-audience {
    right: 6vw;
    top: 1915px;
}

#why-write {
    left: 6vw;
    top: 2560px;
}


/* Footer */

footer {
    background-color: #FE233F;
    height: 265px;
    text-transform: uppercase;
}

#footer-nav {
    display: flex;
    justify-content: center;
}

.site-section {
    vertical-align: top;
    padding: 30px 60px 15px 60px;
    line-height: 50px;
    text-align: left;
}

.site-sub-section {
    display: block;
    font-size: 70%;
    line-height: 30px;
    text-align: left;
}

#site-section-1 {
    display: inline-block;
}

#site-section-2 {
    float: left;
}

#site-section-stack {
    display: flex;
    flex-direction: row;
}

.social-buttons {
    display: inline-block;
    padding-right: 20px;
    font-size: 90%;
    line-height: 30px;
    text-align: left;
}

footer h4 {
    font-size: 100%;
    padding-top: 16px;
}



/* Media Queries */

@media screen and (max-width: 1440px){
    .site-section {
        padding: 30px 50px 15px 50px;
        font-size: 98%;
    }

    .site-sub-section {
        font-size: 68%;
    }

    .social-buttons {
        padding-right: 10px;
        font-size: 84%;
    }
}

@media screen and (max-width: 1024px){
    .site-section {
        padding: 30px 30px 15px 30px;
        font-size: 96%;
    }

    .site-sub-section {
        font-size: 66%;
    }
}

@media screen and (max-width: 768px){
    footer {
        height: 315px;
    }

    .site-section {
        padding: 30px 20px 15px 20px;
        font-size: 94%;
    }

    .site-sub-section {
        font-size: 64%;
    }

    #site-section-stack {
        flex-direction: column;
    }

    footer h4 {
        padding-top: 65px;
    }
}

@media screen and (max-width: 426px){
    footer {
        height: 280px;
    }
    
    .site-section {
        display: block;
        padding: 20px 15px 10px 15px;
        font-size: 70%;
        white-space: nowrap;
    }

    .site-sub-section {
        font-size: 55%;
    }

    footer h4 {
        padding-top: 50px;
    }
}